# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

.vscode/

# Expo
.expo/
dist/
build/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

payload-types.ts
.env

# Latex
**/*.aux
**/*.log
**/*.out
**/*.pdf
**/*.synctex.gz
**/*.fdb_latexmk
**/*.fls
**/*.toc

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/captures/
android/.idea/
*.apk
*.aab
*.hprof

**/.DS_Store
